@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RPD Demand Collection Web Page</h1>
    <p><b></b></p>
    <h3>To initiate the process of filling your demand, please select on the ”User” tab located at the top of the page</h3>
</div>
